<body>
  <div class="portfoliocard">
    <div class="coverphoto"></div>
    <div class="profile_picture"></div>
    <div class="left_col">
      <div class="date">
        <div class="date_count">Start Date</div>
        {{ requestInfo.startDate }}
      </div>
      <div class="end-date">
        <div class="date_count">End Date</div>
        {{ requestInfo.endDate }}
      </div>
    </div>
    <div class="right_col">
      <h2 class="name">{{ requestInfo.name }}</h2>
      <h3 class="request">Voulnteer work type</h3>
      <p>{{ requestInfo.volunteerwork }}</p>
      <h3 class="request">Skills</h3>
      <p>{{ requestInfo.skills }}</p>
      <h3 class="request">Purpose of Request</h3>
      <p>{{ requestInfo.purpose }}</p>

      <footer class="profile-card_footer">
        <p>
          <a class="back-to-profile" (click)="onEditClicked(requestInfo)"
            >Edit Profile</a
          >
        </p>
      </footer>
    </div>
  </div>
</body>
