<body>
  <div class="portfoliocard">
    <div class="coverphoto"></div>
    <div class="profile_picture"></div>
    <div class="left_col">
      <div class="date" *ngFor="let request of requestInfo">
        <div class="date_count">Start Date</div>
        {{ request.startDate }}
      </div>
      <div class="end-date"*ngFor="let request of requestInfo">
        <div class="date_count">End Date</div>
        {{request.endDate}}
      </div>
    </div>
    <div class="right_col"*ngFor="let request of requestInfo">
      <h2 class="name">{{ request.name }}</h2>
      <h3 class="request">Voulnteer Work Type</h3>
      <p>{{ request.volunteerwork }}</p>
      <h3 class="request"> Voulnteer Skills</h3>
      <p>{{ request.skills }}</p>
      <h3 class="request">Purpose of Request</h3>
      <p>{{ request.purpose }}</p>

      <footer class="profile-card_footer">
        <p>
          <a class="back-to-profile" (click)="onEditClicked(request)"
            >Edit Request</a
          >
        </p>
      </footer>
    </div>
  </div>
</body>
