<footer>
  <div class="container">
    <div>
      <mat-icon><img src="https://firebasestorage.googleapis.com/v0/b/voluntech-1727f.appspot.com/o/websiteImges%2Ffacebook.png?alt=media&token=25767a5a-1701-4e01-a88b-290d311f8bd3" /></mat-icon>
      <mat-icon><img src="https://firebasestorage.googleapis.com/v0/b/voluntech-1727f.appspot.com/o/websiteImges%2Finstagram%20(2).png?alt=media&token=272f1404-c1c3-4267-9460-7b34493cdb88" /></mat-icon>
      <mat-icon><img src="https://firebasestorage.googleapis.com/v0/b/voluntech-1727f.appspot.com/o/websiteImges%2Ftwitter.png?alt=media&token=f41e3945-6c80-47b0-85ef-9fb50832fb79" /></mat-icon>
    </div>

    <p class="footer-title"> ©  Theme, Logo, Pages Design by Inas Tabazah</p>
  </div>
</footer>
