<footer>
  <div class="container">
    <div>
      <mat-icon><img src="https://firebasestorage.googleapis.com/v0/b/voluntech-1727f.appspot.com/o/websiteImges%2Ffacebook%20(2).png?alt=media&token=21d294e6-7059-4b17-bb6f-46484ead4437" /></mat-icon>
      <mat-icon><img src="https://firebasestorage.googleapis.com/v0/b/voluntech-1727f.appspot.com/o/websiteImges%2Finstagram%20(3).png?alt=media&token=c5074acc-c013-4b8c-8b64-c38d57cde686" /></mat-icon>
      <mat-icon><img src="https://firebasestorage.googleapis.com/v0/b/voluntech-1727f.appspot.com/o/websiteImges%2Fgithub.png?alt=media&token=335a43a1-95b3-4c9c-aff4-f38825151a2e" /></mat-icon>
      <mat-icon><img src="https://firebasestorage.googleapis.com/v0/b/voluntech-1727f.appspot.com/o/websiteImges%2Ftwitter%20(1).png?alt=media&token=cc02afe9-cae8-4365-b344-e4b14a7d105d" /></mat-icon>

    </div>

    <p class="footer-title"> ©  Theme, Logo, Pages Design by Inas Tabazah</p>
  </div>
</footer>
