

<section id="about" data-scroll class="bio py-10 flex flex-col lg:flex-row w-full h-full container m-auto items-center slideInRight">
  <div class="about-section" id="aboutus">
    <div class="inner-container">
      <h1>About Us</h1>
      <p class="text"><strong>VOLUNTECH</strong> is matchmaking platform that connects
        skilled volunteers with NGO companies that need a hand. This platform
        was created by the technology team It was launched in cooperation with
        the Ministry of Youth.

</p>
<p class="text"> <strong>VOLUNTECH</strong> allows fresh graduates/career changers to
  kick off their careers and increase their confidence in their skills
  by volunteering in tech activities and helping Non-Profit companies
  and influence the local community.

</p>




  </div>
    </div>
</section>
