<!--<section id="aboutus">
  <div class="container">
    <div class="row" style="margin-bottom: 75px">
      <div class="col" style="text-align: left; margin: 0 auto">
        <h2
          style="
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 15px;
          "
        >
          How does <img src="https://firebasestorage.googleapis.com/v0/b/voluntech-1727f.appspot.com/o/websiteImges%2Fwebsitelogo.jpeg?alt=media&token=511805ee-82d2-4720-8fe5-c3fc3266eda5" /><span
            >VOLUNTECH
          </span>
          work?
        </h2>

        <hr
          style="
            width: 50%;
            margin: 0 auto;
            margin-bottom: 25px;
            border-width: 2px;
          "
        />
        <p style="text-align: center; font-weight: 400">
          <strong>VOLUNTECH</strong> is matchmaking platform that connects
          skilled volunteers with NGO companies that need a hand. This platform
          was created by the technology team It was launched in cooperation with
          the Ministry of Youth.
        </p>
        <p style="text-align: center; font-weight: 400">
          <strong>VOLUNTECH</strong> allows fresh graduates/career changers to
          kick off their careers and increase their confidence in their skills
          by volunteering in tech activities and helping Non-Profit companies
          and influence the local community.
        </p>
        <div class="about-img" >
          <img class="img"
            style="width: 60%;
            padding-top: 40px;"
            src="https://firebasestorage.googleapis.com/v0/b/voluntech-1727f.appspot.com/o/websiteImges%2Fabout%20img.png?alt=media&token=d76ec9ba-6fe9-4807-9a6c-48d382308fae"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="two-cards">
    <mat-card>
        <mat-card-header>
          <mat-card-title> Are you looking to volunteer ? </mat-card-title>
          <mat-card-subtitle><ul>
             <li><mat-icon>emoji_people</mat-icon> Let people know how you can help out in your community. </li>
          <li> <mat-icon>find_in_page</mat-icon> Our matchmaking system finds you people who are looking for your skills and time.</li>
          </ul></mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title> Are you looking for volunteers?</mat-card-title>
          <mat-card-subtitle><ul>
           <li> <mat-icon>format_list_bulleted_add</mat-icon> Let volunteers what you need help with,and they will get involved.</li>
            <li><mat-icon>thumb_up_off</mat-icon> Our matchmaking system finds skilled volunteers who want to help you.</li>
          </ul></mat-card-subtitle>
        </mat-card-header>
      </mat-card>
  </div>
</section>-->


<section id="aboutus" data-scroll class="bio py-10 flex flex-col lg:flex-row w-full h-full container m-auto items-center slideInRight">
  <div class="about-section" id="aboutus">
    <div class="inner-container">
      <h1>About Us</h1>
      <p class="text"><strong>VOLUNTECH</strong> is matchmaking platform that connects
        skilled volunteers with NGO companies that need a hand. This platform
        was created by the technology team It was launched in cooperation with
        the Ministry of Youth.

</p>
<p class="text"> <strong>VOLUNTECH</strong> allows fresh graduates/career changers to
  kick off their careers and increase their confidence in their skills
  by volunteering in tech activities and helping Non-Profit companies
  and influence the local community.

</p>




  </div>
    </div>
</section>
